


  <div class="row">
  <div class="col-md-4">
      <% @users.each do |user| %>
         <% if user.role_id == 2 %>
            <h1>Bookshop Owners</h1>
           <h4><%= user.username %><br/></h4>
         <% end %>
      </div>


      <div class="col-md-8">
      <% if user.role_id == 3%>
          <h1>Customers</h1>
          <h4><%= user.username %><br/></h4>
      <% end %>
          </div>
      </div>




<% end %>